body{
    font-family: 'Open Sans'/*Google fonts*/, Arial, Helvetica, sans-serif;
    color: #666;
    line-height: 1.7;/*espaçamento linhas do texto*/
}

a{
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    color: #49bf9d;
    border-bottom: 2px dotted;
}

a:hover{
    border-bottom-color: transparent;
}

.image-link{
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #787878;
    font-weight: normal; /*sem negrito*/
    margin: 1em 0; /*espaçar conforme font-size; 1em=font-size definido*/
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3{
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 10px;
}

p {
   margin: 0 0 1em; 
}

img{
    max-width: 100%;/*tamanho maximo da imagem*/

}

.recent-works-card img{
    border-radius: 10px;
}

.main-header img{
    border-radius: 50%;
    overflow: hidden;
}

sub, sup {
    font-size: 12px;
}

blockquote {
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

code {
    background-color: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 2em;
    font-family: 'Courier New', monospace;/*todo nome de font que tem espaço deve ser escrita entre aspas*/
}

pre code {
    display: block;
}

/*grid*/
.row{
    overflow: auto;
}

.col2{
    width: 49%;
    float: left;
}

.col2:first-child{
    margin-right: 1%;
}

.col2:last-child{
margin-left: 1%;
}

.col2-3{
width: 65%;
float: left;
}

.col1-3{
    width: 32%;
    float: left;
    margin-left: 3%;

}

/**/

ul, ol{
    margin: 0;
    padding: 0;
   /* list-style-position: inside;colocar bullets alinhados com margin*/
   padding-left: 1.1em;
}

.ul-alternate{
    list-style-type: none;
    padding-left: 0;
}

.ul-alternate li{
    border-bottom: 2px solid #ccc;
}

.ul-alternate li:last-child{ /*tirar borda do ultimo elemento*/
    border: 0;
}

li{
    padding-left: .5em;
}

.ul-icons{
    list-style-type: none;
    padding-left: 0;
}

.ul-icons li{
    display: inline-block;
    font-size: 2em;
    color: #49bf9d;
}

.button-default{
 background-color: #49bf9d;
 border: 2px solid #49bf9d;   
 color: white;
 padding: .75em 1.5em;
 border-radius: 5px;
 font-size: .8em;
 display: inline-block;
 width: auto;/*voltar largura padrão*/
}

.button-default-stroke{
    background-color: white;
    border-color: #efefef;   
    color: inherit;
   }

.button-default-small{
font-size: 0.5em;

}

.button-default-full{
    display: block;
    text-align: center;
    }


input, label, textarea{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input, textarea, select{
    background: #ccc;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    border: 2px solid transparent;

}

input[type="radio"], input[type="checkbox"]{
    width: auto;
}

input:focus, textarea:focus{
    border: 2px solid #49bf9d;
    outline: none;/*para desativar borda padrão*/
}

textarea{
    height: 10em;
    resize: none;
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}

.table td{
    padding: 0.75em;
}

.table thead{
    background: #ccc;
    padding: 0.75em;
}

.table tbody tr:first-child td{
border-top: 2px solid #666;
}

.table tbody tr:last-child td{
    border-bottom: 2px solid #666;
}

.table tbody tr td{
    border-bottom: 1px solid #ccc;
}

.table tbody tr:nth-child(even) td{
background: #eee;
}

.table-alternate tbody td, .table-alternate tbody tr:last-child td, .table-alternate tbody tr:first-child td{
    border:1px solid #ddd;
}


.main-header{
    position: fixed;
    top: 0;/*auxilia deixar posição fixa*/
    left: 0;/*auxilia deixar posição fixa*/
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px 54px;
    box-sizing: border-box;
    background-image: url(../ProjetoStrataImages/overlay.png), url(../ProjetoStrataImages/bg.jpg);
    background-position: left top;
    background-size: auto, cover;/*primeiro valor url1, segundo url2*/
    text-align: right;

}

.main-header-title{
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
    font-weight: normal;/*sem negrito*/   
}

.main-header-title strong{
    color: white;
    font-weight: normal;
}

.main-header-link{
    color: inherit; /* herda cor do elemento "pai"; cor do elemento pai foi definida no body*/
    
}

.main-header-link:hover{
    color: #49bf9d;
}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 80px 54px 60px 54px;
    box-sizing: border-box;/*para padding não somar o tamanho do elemento; fixar conteúdo*/
}

.main-footer {
    
}

